
@{
    ViewData["Title"] = "Viewroom";
}
<div class="w3-row">
    <div class=" w3-col s2 w3-center">
        <ul class="w3-ul">
            <li><h2>Теги</h2></li>
            @for (int i = 0; i <= 10; i++)
            {
                <li>
                    <button class="w3-button w3-block">Тег @i</button>
                </li>

            }
        </ul>
    </div>
    <div class="w3-col s10">
        @{await Html.RenderPartialAsync("_Viewrooms");}
    </div>
</div>