
@{
    ViewData["Title"] = "Roomdetails";
}
<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col s3">
            <ul class="w3-ul">
                <li>
                    <div class="w3-display-container">
                        <img src="~/images/default-placeholder.png" style="width:100%" />
                        <div class="w3-padding w3-display-middle w3-text-black">
                            Photo
                        </div>
                    </div>
                </li>
                <li>Имя:</li>
                <li>Отчество:</li>
                <li>Фамилия:</li>
                <li><a href="#" class="w3-button w3-block w3-dark-grey">Все записи автора</a></li>
            </ul>
        </div>
        <div class="w3-col s9">
            <ul class="w3-ul">
                <li><h2>Название темы</h2></li>
                <li>Тэги:</li>
                <li>Дата начала:</li>
                <li>Время начала:</li>
                <li>Стоимость:</li>
            </ul>
            <ul class="w3-ul" style="height:200px;">
                <li><p>Описание темы</p></li>
            </ul>
            <div class="w3-row">
                <div class="w3-col s8">
                    <p>Время до начала:</p>
                </div>
                <div class="w3-col s4">
                    <a href="#" class="w3-button w3-block w3-green">Подписаться</a>
                </div>
            </div>
        </div>
    </div>
</div>